
body {
  background-color: $dark-gray;
  border: 10px solid white;
  font-family: $font-family;
  font-weight: normal;
  font-style: normal;
  font-size: $font-size-standard;
  line-height: 1.5;
  color: white;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    -webkit-font-smoothing: antialiased;
  }
  @media only screen and (max-width: $medium-screen) {
    border-width: 5px;
    font-size: $font-size-smaller;
  }
}

* {
  box-sizing: border-box;
}

@mixin container {
  max-width: $max-site-width;
  padding: 80px;
  padding-bottom: 40px;
  display: flex;
  margin: 0 auto;
  @media only screen and (max-width: $medium-screen) {
    padding: 40px;
  }
  @media only screen and (max-width: $small-screen) {
    flex-direction: column;
    padding: 20px;
  }
}

// intro section

.wrapper--intro {
  background-color: $blue;
}
.container--intro {
  @include container;
  @media only screen and (max-width: $small-screen) {
    padding: 0;
  }
}

.container__text--intro {
  padding-right: 80px;
  @media only screen and (max-width: $small-screen) {
    padding: 20px;
  }
  p {
    max-width: 720px;
  }
}

.container--profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  @media only screen and (max-width: $medium-screen) {
    align-items: flex-start;
  }
  @media only screen and (max-width: $small-screen) {
    width: 100%;
    background: linear-gradient(to right top, $dark-gray 50%, $blue 50%);
  }
}

.image--profile {
  display: block;
  max-width: 200px;
  mix-blend-mode: screen;
  border-radius: 50%;
  @media only screen and (max-width: $medium-screen) {
    max-width: 160px;
    margin-top: 30px;
  }
  @media only screen and (max-width: $small-screen) {
    max-width: 100px;
    margin-top: 0;
  }
}

.container--divider {
  height: 120px;
  background: linear-gradient(to right top, $dark-gray 50%, $blue 50%);
  @media only screen and (max-width: $medium-screen) {
    height: 60px;
  }
  @media only screen and (max-width: $small-screen) {
    display: none;
  }
}

.container--work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 160px 40px;
  > p {
    max-width: 760px;
  }
  @media only screen and (max-width: $medium-screen) {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  @media only screen and (max-width: $small-screen) {
    padding: 40px 20px;
  }
}

.wrapper__header--talks {
  background: linear-gradient(to right bottom, $dark-gray 50%, $aqua 50%);
}

.container__header--talks {
  @include container;
  max-width: 920px;
  padding-top: 0;
  padding-bottom: 0;
  @media only screen and (max-width: $medium-screen) {
    padding-top: 0;
    padding-bottom: 0;

  }
  @media only screen and (max-width: $small-screen) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.wrapper--talks {
  background-color: $aqua;
  color: $dark-gray;
  a {
    @include link-color($color: $dark-gray);
  }
}

.container--talks {
  @include container;
  max-width: 920px;
}

.wrapper--colophon {
  background: $blue;
  &:before {
    content: '';
    display: block;
    height: 160px;
    background: linear-gradient(to right top, $blue 50%, $aqua 50%);
    @media only screen and (max-width: $medium-screen) {
      height: 80px;
    }
    @media only screen and (max-width: $small-screen) {
      height: 40px;
    }
  }
}

.container--colophon {
  @include container;
  padding-top: 0;
  font-size: $font-size-small;
}