// colours

$dark-gray: #444148;
$blue: #4265E2;
$aqua: #7DB7B3;
$pink: #ED69CB;

$light-blue: #32CDFF;
$green: #6FF8E8;
// $green: #84FA73;
// $red: #E5645F;
// $yellow: #F2B257;


// type
$font-family: CeraPRO-Light, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold: CeraPRO-Bold, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-small: 1rem;
$font-size-smaller: 1.5rem;
$font-size-standard: 1.75rem;
$font-size-medium: 2.25rem;
$font-size-mid: 4rem;
$font-size-large: 5.25rem;

// media queries
$max-site-width: 1200px;
$small-screen: 640px;
$medium-screen: 800px;