// colours

$dark-gray: #444148;
$yellow: #F2B257;
$blue: #4265E2;
$aqua: #7DB7B3;


// type
$font-family: "Cera DEMO", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-small: 1rem;
$font-size-standard: 1.75rem;
$font-size-medium: 2.625rem;
$font-size-mid: 30px;
$font-size-large: 5.625rem;

// media queries
$max-site-width: 1200px;
$small-screen: 640px;
$medium-screen: 800px;