// links

@mixin link-color($color: white, $hover-color: $pink) {
  color: $color;
  &:hover {
    color: $hover-color;
  }
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.2s linear;
  @include link-color;
}

b, strong {
  font-family: $font-family-bold;
}

// text styles

.text--small {
  font-size: $font-size-small;
}

.text--bold {
  font-family: $font-family-bold;
}

h3 {
  font-size: $font-size-standard;
}

.text--hero {
  font-family: $font-family-bold;
  font-size: $font-size-large;
  line-height: 0.7;
  margin: 0;
  @media only screen and (max-width: $medium-screen) {
    font-size: $font-size-mid;
  }
  @media only screen and (max-width: $small-screen) {
    font-size: $font-size-medium;
  }
}


// circle dividers

.text--prefix {
  margin-right: 0.75em;
}

@mixin circle($size: 4px, $color: white) {
  height: $size;
  width: $size;
  border-radius: $size;
  background: $color;
}

[class^="text__divider"] {
  white-space: nowrap;
  &:after {
    @include circle($size: 6px, $color: linear-gradient(to right top, $light-blue 50%, $green 50%));
    content: '';
    display: inline-block;
    margin-left: 0.75em;
    margin-right: 0.75em;
    vertical-align: middle;
  }
  &.last:after,
  .last &:after {
    display: none;
  }
  &:nth-child(2n):after {
    transform: rotate(50deg);
  }
  &:nth-child(3n):after {
    transform: rotate(95deg);
  }
  &:nth-child(4n):after {
    transform: rotate(145deg);
  }
}

.text__divider {
  &--large:after {
    @include circle($size: 10px, $color: linear-gradient(to right top, $light-blue 50%, $green 50%));
    margin-right: calc(0.75em - 4px);
    @media only screen and (max-width: $medium-screen) {
      @include circle($size: 6px);
    }
  }
}

// lists

.list--clean {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 1.5em;
  }
}

.list__item--meta {
  display: block;
  margin-top: 0.5em;
  font-size: $font-size-small;
}

.list__item--meta span:not(:last-of-type) {
  white-space: nowrap;
  &:after {
    @include circle($size: 6px, $color: linear-gradient(to right top, lighten($dark-gray, 30%) 50%, $dark-gray 50%));
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-left: 0.75em;
    margin-right: calc(0.75em - 4px);
  }
  &:nth-child(2n):after {
    transform: rotate(50deg);
  }
  &:nth-child(3n):after {
    transform: rotate(95deg);
  }
  &:nth-child(4n):after {
    transform: rotate(145deg);
  }
}

// images 

img {
  display: block;
  max-width: 100%;
}

.wrapper--colophon + a {
  display: none;
}